.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

label {
  display: block;
  margin-bottom: 8px;
  text-align: left;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 0px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #fff;
}

body {
  background-color: #f7f7f7;
}

.login-info {
  background-color: lightgray;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}

.login-button {
  background-color: #ff8400;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.login-button:hover {
  background-color: #ff9900;
}

.new-user {
  text-decoration: none;
  margin-top: 0px;
  color: #a64913;
}

.new-user:hover {
  cursor: pointer;
  text-decoration: underline;
}
